# Supabase Configuration
# Get these values from your Supabase project settings
# https://app.supabase.com/project/_/settings/api

VITE_SUPABASE_URL=https://ruzfbkxiqusfbiyxyegb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1emZia3hpcXVzZmJpeXh5ZWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxMTkyNDEsImV4cCI6MjA3ODY5NTI0MX0.UjzpGJ9Xx_T-74FBamNF9T7pQWyEFgcSYf_TkQs3E38


# Admin Authentication
# Set a strong password for admin access
ADMIN_PASSWORD=UriPixellot1982!

